*,
*:before,
*:after{
 -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	     box-sizing: border-box;
	     text-decoration:none;
}

*::selection{
 background-color: #17bed2;
 color: #fff;
 text-shadow: none;
}

/*
  ========================================
  Clear CSS
  ========================================
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, summary, time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 zoom: 1;
}

body{
  font-family: Hind-Regular, sans-serif;
}

ul,li{
 list-style: none;
}

a{
  cursor: pointer;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

button:focus{
  outline: none;
}

/*
  ========================================
  Media
  ========================================
*/

@media (min-width: 1200px) {
 .container{
  width: 1170px;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin: 0 auto;
 }
 .part5-title,
 .part5-text{
  width: 930px;
 }
 .part1-title{
  font-size: 70px;
 }
 .menu-open{
  display: none;
 }
 .nav-wrapper{
  display: block;
 }
}

@media (max-width: 1199px) {
 .container{
  width: 960px;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin: 0 auto;
 }
 .menu-open{
  display: none;
 }
 .nav-wrapper{
  display: block;
 }
}

@media (max-width: 991px) {
 .container{
  width: 720px;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin: 0 auto;
 }
 .menu-open{
  display: none;
 }
 .nav-wrapper{
  display: block;
 }
}

@media (max-width: 768px) {
 .header-wrapper{
  display: block !important;
 }
 .container{
  width: 745px;
  padding-right: 15px !important;
  padding-left: 15px !important;
  margin: 0 auto;
 }
 .review{
  width: 100% !important;
 }
 .menu-open{
  display: block;
  float: right;
 }
 .nav-wrapper{
  display: flex;
  flex-direction: column;
  margin-top: 35px;
 }
 .part2-column-wrap{
  padding: 10px 0px !important;
 }
 .part2-text-center{
  width: 100%;
 }
 .nav-title{
  display: flex;
  align-items: center;
  padding: 12px 12px 12px 20px !important;
 }
 .nav-title:before{
  top: 20px !important;
 }
 .part2-column{
  padding: 0px 5px
 }
}

@media (max-width: 575px) {
 .header-wrapper{
  display: block !important;
  width: 100%;
 }
 .part1-wrapper,
 .part2-text-center{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
 }
 .part2-wrapper,
 .part4-wrapper,
 .part5-wrapper,
 .part6-wrapper,
 .part7-wrapper,
 .part8-wrapper,
 .part10-wrapper,
 .down-menu,
 .footer-wrapper,
 .part2-columns{
  display: flex;
  flex-wrap: wrap;
  width: 100% !important;
 }
 .part4-containers,
 .part6-grid{
  display: block !important;
 }
 .image-active{
  padding-bottom:5px;
 }
 .part7-pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .part3-images{
  display: flex;
  flex-wrap: wrap ;
 }
 .img-padding{
  padding-bottom: 5px !important; 
  padding-right: 0px !important;
 }
 .part3-images img{
  width: 100% !important;
 }
 .part4-container{
  margin-bottom: 5px;
 }
 .part1-title{
  font-size: 50px !important;
 }
 .part1-subtitle{
  font-size: 25px !important;
 }
}

/*
  ========================================
  Header
  ========================================
*/

.header{
  position: absolute;
  border-radius: 5px;
  border-bottom:1px solid rgba(255,255,255,0.2);
  left: 0;
  right: 0;
  z-index: 100;
  transition-duration: .3s; 
}

.header-fixed{
  position: fixed;
  background-color: white;
  border-bottom-color: #f0f0f0;
}

.header-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0px;
}

.nav-title{
  position: relative;
  font-weight: 600;
  font-size: 13px;
  color: white;
  padding: 20px;
}

.nav-title:before{
  position: absolute;
  content: "";
  top: 27px;
  left: 0px;
  width: 9px;
  height: 2px;
  opacity: 0;
  background: #17bed2;
  transition-duration: .4s;
  transition-property: all;
  transition-timing-function: cubic-bezier(.7,1,.7,1)
}

.nav-title, .opacity:before{
  opacity: 1;
}

.nav-title-color{
  color: #515769;
}

.logo-light{
  display: block;
}

.logo-dark{
  display: none;
}

.logo-dark-show{
  display: block
}

.logo-light-hide{
  display: none;
}

.icon-menu{
  font-size: 25px;
}

.menu-button{
  display: none;
}

.logo-button{
  display: flex;
  justify-content: space-between;
}

/*
  ========================================
  Part1
  ========================================
*/

.part1{
  position: relative;
  background-image: url(../image/background/01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 250px 0px 200px 0px;
  z-index: 1;
}

.part1:before{  
  content: "";
  position: absolute;
  background-color: rgba(81,87,105,.4);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.part1-title{
  font-size: 70px;
  font-weight: 700;
  text-align: center;
}

.part1-text{
  margin-bottom: 40px;
}

.part1-title,
.part1-subtitle{
  display: flex;
  justify-content: center;
  color: white;
}

.part1-subtitle{
  text-align: center;
  padding: 10px 0px;
  font-size: 25px;
}

.button-video{
  display: flex;
  justify-content: center;
}

.button-wrap{
  display: flex;
  padding: 20px 30px;
  background-color: white;
  transition-duration: .3s;
  cursor: pointer;
}

.button-text{
  color: #515769;
  font-size: 15px;
  font-weight: 600;
  transition-duration: .3s;
}

.button-wrap:hover .button-text{
  color: white;
}

.button-wrap:hover .icon-control-play{
  color: white;
}

.button-wrap:hover{
  background-color: #17bed2;
}

.icon-control-play{
  color: #515769;
  transition-duration: .3s;
  font-size: 15px;
  margin-right: 10px;
  margin-top: 4px;
}

/*
  ========================================
  Part2
  ========================================
*/

.part2-wrapper{
  padding: 100px 0px;
}

.part2-title{
  display: flex;
  justify-content: center;
  font-weight: 700;
  color: #515769;
  font-size: 30px;
  padding-bottom: 15px;
}

.part2-text{
  display: flex;
  text-align: center;
  margin: 0 auto;
  width: 550px;
  font-weight: 400;
  color: #a6a7aa;
  font-size: 15px;
  padding-bottom: 15px;
}

.part2-column-wrap{
  padding: 0px 15px;
}

.part2-title-type{
  display: flex;
  align-items: center;
  padding: 15px 0px;
}

.part2-column-title{
  color: #515769;
  font-weight: 700;
  font-size: 22px;
}

.part2-type{
  color: #bfc1c7;
  font-weight: 400;
  font-size: 14px;
  padding-left: 20px;
}

.part2-column-text{
  color: #a6a7aa;
  font-weight: 400;
  font-size: 15px;
  padding-bottom: 15px;
}

.part2-read-more a{
  color: #81848f;
  font-weight: 600;
  font-size: 13px;
}

.part2-read-more a:after{
  content: "";
  top: 8px;
  right: -15px;
  width: 9px;
  height: 2px;
  background-color: #17bed2;
  position: absolute;
}

.part2-read-more a{
  position: relative;
}

.part2-columns{
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.part2-column-title:hover,
.part2-read-more a:hover{
  color: #999caa;
}

.part2-inner img{
  display: flex;
  width: 100%;
}

/*
  ========================================
  Part3
  ========================================
*/
.part3-images{
  display: flex;
}

.img-padding{
  padding-right: 5px; 
}

.part3-images img{
  width: 50%;
}

/*
  ========================================
  Part4
  ========================================
*/
.part4{
  background-color: #fafafa;
}

.part4-wrapper{
  padding: 100px 0px;
}

.part4-containers p, i{
  display: flex;
}

.part4-containers{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.part4-container{
  background-color: white;
  padding: 50px;
  display: inline-block;
}

.part4-container i{
  display: block;
  font-size: 30px;
  color: #999caa;
  margin-bottom: 30px;
}

.container-title,
.container-title-white{
  font-size: 22px;
  font-weight: 700;
  color: #515769;
  padding-bottom: 15px;
}

.container-text,
.container-text-white{
  font-size: 15px;
  font-weight: 400;
  color: #a6a7aa;
}

.icon-screen-tablet{
  display: block;
  font-size: 30px;
  color: white !important;
  margin-bottom: 30px;
}

.part4-active{
  background-color: #17bed2;
}

.container-title-white,
.container-text-white{
  color: white;
}

/*
  ========================================
  Part5
  ========================================
*/

.part5{
  position: relative;
  background-image: url(../image/background/02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  z-index: -1
}

.part5:before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(81,87,105,.4);
  z-index: -1;
}

.part5-wrapper{
  padding: 100px 0px;
}

.part5-title{
  font-size: 50px;
  font-weight: 700;
  color: white;
  padding-bottom: 15px;
  z-index: 1;
}

.part5-text{
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding-bottom: 15px;
  opacity: .8;
  z-index: 1;
}

.part5-title,
.part5-text{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

/*
  ========================================
  Part6
  ========================================
*/

.part6-wrapper{
  padding: 100px 0px;
}

.grid-img1{
  grid-area: img-a;
}

.grid-img2{
  grid-area: img-b;
}

.grid-img3{
  grid-area: img-c;
}

.grid-img4{
  grid-area: img-d;
}

.grid-img5{
  grid-area: img-e;
}

.grid-img1,
.grid-img2,
.grid-img3,
.grid-img4,
.grid-img5{
  display: flex;
}

.part6-grid{
  display: grid;
  grid-template-columns: 1 1 1;
  grid-template-rows: auto;
  grid-gap: 5px;
  grid-template-areas: 
  "img-a img-a img-b"
  "img-c img-d img-e"
}

.image-active{
  position: relative;
}

.image-active img{
  display: flex;
  width: 100%;
}

.image-active::after{
  content: "";
  position: absolute;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.4s; 
  opacity: 0;
}

.image-active:hover::after{
  opacity: 1;
}

/*
  ========================================
  Part7
  ========================================
*/

.part7{
  background-color: #fafafa;
}

.part7-wrapper{
  padding: 100px 0px;
}

.part7-pricing{
  display: flex;
  justify-content: center;
}

.part7-price{
  padding: 70px 45px;
  background: #fff;
  margin: 50px 2px 50px 2px;
}

.part7-price i{
  font-size: 30px;
  color: #999caa;
  padding-bottom: 30px;
}

.name-price{
  font-size: 22px;
  font-weight: 700;
  color: #515769;
  padding-bottom: 15px;
}

.name-price span{
  font-size: 14px;
  font-weight: 400;
  color: #bfc1c7;
}

.text-price{
  font-size: 15px;
  font-weight: 400;
  color: #a6a7aa;
  padding-bottom: 15px;
}

.privileges-list{
  padding-bottom: 50px;
}

.privileges{
  position: relative;
  font-size: 13px;
  color: #81848f;
  padding-left: 20px;
  margin-bottom: 10px;
}

.privileges:before{
  content: "";
  top: 8px;
  left: -2px;
  width: 9px;
  height: 2px;
  background-color: #17bed2;
  position: absolute;
}

.choose-price{
  font-size: 13px;
  font-weight: 600;
  padding: 15px 40px;
  color: #515769;
  background: #f3f4f5;
  transition-duration: .3s;
}

.choose-price:hover{
  color: white;
  background: #17bed2;
}

.active-price{
  padding: 110px 45px;
  background: #fff;
  margin: 10px 2px 10px 2px;
}

/*
  ========================================
  Part8
  ========================================
*/

.part8-wrapper{
  padding: 100px 0px;
}

.part8-title{
  font-size: 30px;
  font-weight: 700;
  color: #515769;
  padding-bottom: 15px;
}

.review-text{
  padding-bottom: 20px;
  font-size: 17px;
  font-weight: 400;
  color: #a6a7aa;
}

.review{
  position: relative;
  width: 70%;
  padding: 10px 20px;
  margin-left: 20px;
}

.review:before{
    position: absolute;
    top: 0;
    left: -20px;
    font-size: 60px;
    display: inline-block;
    color: #17bed2;
    content: '“';
}

.writer-review{
  font-size: 15px;
  font-weight: 400;
  color: #a6a7aa;
}

.writer-review span{
  font-size: 14px;
  color: #81848f;
  font-weight: 700;
}

/*
  ========================================
   Google Map
  ========================================
*/

#map{
  width: 100%;
  height: 450px;
}

.coordinate{
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #edf0f2;
  padding: 30px 0px;
}

.coordinate p{
  color: #515769;
}

/*
  ========================================
  Part10
  ========================================
*/

.part10-wrapper{
  padding: 100px 0px;
}

.down-menu{
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.menu-col a{
  display: block;
  color: #777984;
  padding-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
}

.menu-col a:hover{
  color: #999caa;
}

/*
  ========================================
  Footer
  ========================================
*/
.footer{
  border-top: 1px solid #edf0f2;
}

.footer-wrapper{
  padding: 40px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-wrapper p{
  font-size: 15px;
  font-weight: 400;
  color: #a6a7aa;
}

.footer-wrapper a{
  color: #81848f;
  font-weight: 700;
}

.footer-wrapper a:hover{
  color: #999caa;
}